<!-- <div class="datatable" ng-style="yourModelToProvideValue">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" style="margin-right:0%;">
          <a href="#" routerLink="/profile"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </li>
         <li class="nav-item" style="left:950px;">
          <a href="#" routerLink="/signup"><span class="glyphicon glyphicon-user" ></span> Add Client</a>
        </li> -->
        <!-- <li class="nav-item" style="left:950px;">
          <a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
        </li>
      </ul>
    </div>  -->
    
    <div class="datatable">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 style="text-align: center">Tickets List</h1><br>
            <div class="row" [hidden]="!deleteMessage">
    
                      <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                              <div class="alert alert-info alert-dismissible">
                                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                                      <strong>Student Data Deleted</strong>
                              </div>
                      </div>
                      <div class="col-sm-4"></div>
              </div>           
          </div>
      
        
        <div class="panel-body">
            <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"  >
                <thead class="thead-light">
                    <tr>
                        <th>Company Name</th>
                        <th>Complaint Id</th>
                        <th>Model</th>
                        <th>SerialNo</th>
                        <th>McType</th>
                        <th>Issue</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                     <tr *ngFor="let ticket of tickets; let i=index;">
                        <td>{{ticket.companyName}}</td>
                        <td>{{ticket.complaintId}}</td>
                        <td>{{ticket.model}}</td>
                        <td>{{ticket.serialNo}}</td>
                        <td>{{ticket.mcType}}</td>
                        <td>{{ticket.problem}}</td>
                        <td>
                          <button (click)="TicketSelected(ticket)" class='btn btn-success'
                          data-toggle="modal" data-target="#myModal">Asign</button>
                        </td>
                      </tr> 
                </tbody><br>
            </table>
        </div>
      </div> 
    
      <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                      <form [formGroup]="ticketform" #asignticket (ngSubmit)="asignTicketDetails(asignticket)">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center">Asign Issue</h4>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                      <div>
      
                          <div class="form-group">
                            <label for="companyName" class="sr-only">Company Name</label>
                            <input formControlName="companyName" type="text" name="companyName" id="companyName" class="form-control" placeholder="Enter Company Name" [(ngModel)]="ticket.companyName">
                          </div>
                          <div class="form-group">
                            <label for="model" class="sr-only">Model</label>
                            <input formControlName="model" type="text" name="model" id="model" class="form-control" placeholder="Enter Model" [(ngModel)]="ticket.model">
                          </div>
                          <div class="form-group mb-4">
                            <label for="serialNo" class="sr-only">SerialNo</label>
                            <input formControlName="serialNo" type="text" name="serialNo" id="serialNo" class="form-control" placeholder="Enter SerialNo" [(ngModel)]="ticket.serialNo">
                          </div>
                          <div class="form-group mb-4">
                            <label for="mcType" class="sr-only">McType</label>
                            <input formControlName="mcType" type="text" name="mcType" id="mcType" class="form-control" placeholder="Enter McType" [(ngModel)]="ticket.mcType">
                          </div>
                          <div class="form-group mb-4">
                            <label for="problem" class="sr-only">Issue</label>
                            <input formControlName="problem" type="text" name="problem" id="problem" class="form-control" placeholder="Enter Problem" [(ngModel)]="ticket.problem">
                          </div>

                          <div class="form-group">
                            <!-- <label for="emailId" class="sr-only">EmailId</label>
                            <input formControlName="emailId" type="text" name="emailId"  class="form-control" placeholder="Enter Engineer EmailId"> -->
                            <!-- <ejs-dropdownlist id='ddlelement' #samples [dataSource]='engineerEmailIds' [fields]='fields' [placeholder]='text'></ejs-dropdownlist>` -->
                          </div>

                          <div class="form-group">
                            <label for="leadComment" class="sr-only">Lead Comment</label>
                            <textarea formControlName="leadComment"  name="ledComment"  class="form-control" placeholder="Enter Your Comments" rows="4" cols="50"></textarea>
                          </div>
    
                        <div>
                            <h4>Ticket Asigned Successfuly!</h4>
                        </div>        
                          
                  </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer" >
                    <button type="submit" class="btn btn-success">Asign</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>  
              </form>
                </div>
              </div>
            </div>
          </div>
    