
 <div>
            <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
                <div class="container">
                  <div class="card login-card">
                    <div class="row no-gutters">
                      <div class="col-md-5">
                        <img src="assets/loginuser.jpg" alt="login" class="login-card-img">
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <div class="brand-wrapper">
                            <img src="assets/logo.svg" alt="logo" class="logo">
                          </div>
                          <p class="login-card-description">Register New Company</p>
                          <form>
                              <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input formControlName="name" type="text" name="name" id="name" class="form-control" placeholder="Enter Company Name" >
                              </div>
                              <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input formControlName="email" type="email" name="email" id="userName" class="form-control" placeholder="Enter Email Address" >
                              </div>
                              <div class="form-group mb-4">
                                <label for="Prodect" class="sr-only">Phone Nubmer</label>
                                <input formControlName="Prodect" type="text" name="Prodect" id="Prodect" class="form-control" placeholder="Enter Phone Nubmer">
                              </div>
                              <div class="form-group mb-4">
                                <label for="Address" class="sr-only">Address</label>
                                <input formControlName="Address" type="text" name="Address" id="Address" class="form-control" placeholder="Enter Location">
                              </div>
                              
            
                              <input name="signup" id="signup" class="btn btn-block login-btn mb-4" type="submit" value="Register">
                            </form>
                            <p class="login-card-footer-text">Don't have an account? <a href="#!" class="text-reset">Sign here</a></p>
                            <nav class="login-card-footer-nav">
                              <a href="#!">Terms of use.</a>
                              <a href="#!">Privacy policy</a>
                            </nav>
                        </div>
                      </div>
                    </div>
                  </div>
            
                </div>
              </main>  
    </div>
    
